<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MetricsEntities" connectionString="metadata=res://*/MetricsCorporationModel.csdl|res://*/MetricsCorporationModel.ssdl|res://*/MetricsCorporationModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=1111;Persist Security Info=True;database=state_schematic2&quot;" providerName="System.Data.EntityClient" />
    <add name="MetricsPrimCombModelEntities" connectionString="metadata=res://*/MetricsPrimCombModel.csdl|res://*/MetricsPrimCombModel.ssdl|res://*/MetricsPrimCombModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=1111;Persist Security Info=True;database=FL_TN_MO_TestDB_Datalister&quot;" providerName="System.Data.EntityClient" />
    <!--Added by aloha-->
    <add name="MetricsPrimaryDataModelEntities" connectionString="metadata=res://*/MetricsPrimaryDataModel.csdl|res://*/MetricsPrimaryDataModel.ssdl|res://*/MetricsPrimaryDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=1111;Persist Security Info=True;database=datalister1&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>