@using Orchard.UI.Resources
@{
    ViewBag.Title = "Index";
    
}

@{
    Script.Require("jQuery").AtLocation(ResourceLocation.Head);
    
    Script.Include("native.history.js").AtLocation(ResourceLocation.Head);
    Script.Include("knockout-2.2.0.debug.js").AtLocation(ResourceLocation.Head);
    Script.Include("knockout.navigation.js").AtLocation(ResourceLocation.Head);
    Script.Include("knockout.validation.js").AtLocation(ResourceLocation.Head);

    Style.Include("kendo.common.min.css").AtLocation(ResourceLocation.Head);
    Style.Include("kendo.default.min.css").AtLocation(ResourceLocation.Head);
    Style.Include("Main.css").AtLocation(ResourceLocation.Head);

    //Style.Include("//platform.linkedin.com/in.js").AtLocation(ResourceLocation.Head);
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    
    Script.Include("./kendo/kendo.all.min.js").AtLocation(ResourceLocation.Head);
    Script.Include("jquery.tmpl.js").AtLocation(ResourceLocation.Head);
    Script.Include("./kendo/knockout-kendo.min.js").AtLocation(ResourceLocation.Head);
    Script.Include("date.js").AtLocation(ResourceLocation.Head);

    Script.Include("jquery.blockUI.js").AtLocation(ResourceLocation.Head);
    
    Script.Include("./admin/DataSources.js").AtLocation(ResourceLocation.Head);
    Script.Include("./helpers/KoBindings.js").AtLocation(ResourceLocation.Head);
    Script.Include("./admin/AdminModel.js").AtLocation(ResourceLocation.Head);
    Script.Include("./admin/UsersModel.js").AtLocation(ResourceLocation.Head);
    
}



<script type="text/javascript">
    $(document).ready(function () {
        ko.navigation.setNamespace(MetricsCorporationApp);

        var myapp = new MetricsCorporationApp.AdminModel();
        myapp.init();
        ko.applyBindings(myapp);

        //for debug
        window.vm = myapp;
    });
</script>


<script id="UsersModelView" type="text/html">
    @Html.Partial("_UsersModel")
    @Html.Partial("_UserEdit")        
</script>
<div class="content" data-bind="navigation: navigation">
</div>
