<div id="TotalReportsViewWindow" data-bind="kendoWindow: { isOpen: isTotalReportsViewWindow, visible: false, actions: ['Close', 'Minimize', 'Maximize', 'Refresh'], modal: true }">
    @*<h2>Logins by - <span data-bind="text: currentUser().FullName"></span></h2>*@
    <table class="table table-bordered table-hover" style="min-width: 600px;">
        <thead>
            <tr>
                <td>Report Viewed Date and Time</td>
                <td>Company Name and Adress</td>
                <td>Additional Information</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: currentTotalReportsViewed">
            <tr>
                <td><span data-bind="text: reportDateFormatted"></span></td>
                <td>
                    <span data-bind="text: CompanyNameAndAdress"></span>
        
                </td>
                <td>
                    <span data-bind="text: AdditionalInformation"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
